{% for line in colors %}
  <div class="flex flex-wrap gap-4 mb-4">
    {% for color in line %}
      <div>
        <div class="Color shadow-lg p-2">
          <div class="Color-box {{ color }} min-w-[200px] h-[120px] "></div>
          <div class="text-center mt-2 h-10">{{ color }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
