<div class="Tooltip Tooltip-{{ position }} {{ classes }}" aria-labelledby="Tooltip-trigger" tabindex="0">
  <span class="Tooltip-icon ">
    {{ source("/icons/tooltip.svg") }}
  </span>
  <span class="Tooltip-text" role="Tooltip">
    {{ text }}
  </span>
</div>
