.Tooltip {
    position: relative;
    display: inline-block;
    text-underline-offset: 2px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
    width: max-content;
  
    &-icon {
      display: inline-block;
      cursor: pointer;
      width: rem-convert(20px);
      height: rem-convert(20px);
      color: var(--black);
      vertical-align: middle;
    }
  
    &-text {
      visibility: hidden;
      position: absolute;
      border-radius: 4px;
      width: max-content;
      max-width: 292px;
      font-size: rem-convert(14px);
      font-weight: 400;
      line-height: rem-convert(19px);
      z-index: 1;
      background-color: var(--white);
      color: var(--grey-dark);
      text-align: center;
      padding: rem-convert(5px) rem-convert(10px);
      opacity: 0;
      transition: opacity 0.3s;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
  
    &:hover .Tooltip-text,
    &:focus .Tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  
    &-top .Tooltip-text {
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &-right .Tooltip-text {
      top: 50%;
      left: 110%;
      transform: translateY(-50%);
    }
  
    &-bottom .Tooltip-text {
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &-left .Tooltip-text {
      top: 50%;
      right: 110%;
      transform: translateY(-50%);
    }
  }
  