.SearchBar {
  display: flex;
  align-items: center;
  color: var(--grey-dark);
  outline: 1px solid var(--grey-lighter);
  border-radius: rem-convert(8px);
  font-size: var(--font-size-paragraph-2);
  line-height: var(--line-height-paragraph-2);
  font-weight: 400;

  &--lg {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 15px;
  }

  &--sm {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 7px;
  }

  &-icon {
    color: var(--grey-dark);
    width: 32px;
    height: 32px;
  }

  &,
  input {
    flex-grow: 1;
    background: var(--white);
  }

  input {
    &::placeholder {
      @apply text-grey-dark;
      font-weight: 300;
    }

    &:focus {
      outline: none;
    }
  }

  &:hover {
    &,
    input {
      background: var(--grey-lightest);
    }
  }

  &:focus-within {
    outline: 2px solid var(--vermillon-medium);
  }
}
