<label class="SearchBar SearchBar--{{ size }} {{ classes }}" aria-label="Recherche">
  <input type="text" name="query" placeholder="Je recherche..." autocomplete='off' value="{{ value }}"/>
  <div class="SearchBar-icon">
    {{ source('/icons/search.svg') }}
  </div>
</label>
