<div class="Layout">
	{% include '../../Organisms/Header/Header.twig' %}
	{% include '../../Organisms/Sidebar/Sidebar.twig' %}
	<main class="Content">
		Hello Flexy !
	</main>
	{% include '../../Organisms/Footer/Footer.twig' %}
</div>
