<div class="Layout">
	{% include '../../Organisms/Header/Header.twig' %}
	{% include '../../Organisms/Sidebar/Sidebar.twig' %}
	<div class="Content">
		Hello Flexy !
	</div>
	{% include '../../Organisms/Footer/Footer.twig' %}
</div>
