{% set choiceCardClasses = 'ChoiceCard ChoiceCard--' ~ size %}
{% if active %}
	{% set choiceCardClasses = choiceCardClasses ~ ' ChoiceCard--active' %}
{% endif %}
{% if disabled %}
	{% set choiceCardClasses = choiceCardClasses ~ ' ChoiceCard--disabled' %}
{% endif %}

<div class="{{ choiceCardClasses }}">
	{% include '../../Form/Radio.twig' with { label: text } %}

	{% if description and size == "lg" %}
		<p class="ChoiceCard-description paragraph-4">{{ description }}</p>
	{% endif %}
</div>
