@import 'variables.css';
@import '../assets/css/*.css';
@import url('./**/*.css');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', 'Roboto', serif;
  color: var(--black);
}

svg {
  width: 100%;
  height: 100%;
}
