:root {
  --vermillon: #FF7036;
  --vermillon-light: #fa533c;
  --vermillon-lighter: #ff8f80;
  --vermillon-lightest: #ffeaf8;
  --vermillon-dark: #c4311c;

  --charcoal-light: #444444;
  --charcoal-medium: #333333;
  --charcoal-dark: #222222;

  --pearl-light: #f5f5f5;
  --pearl-medium: #ebebeb;

  --grey-darker: #424242;
  --grey-dark: #545454;
  --grey: #808080;
  --grey-lighter: #D6D6D6;
  --grey-lightest: #F5F5F5;

  --black: #282828;
  --white: #ffffff;

  --red-light: #ed5656;
  --red: #d21919;
  --background-red: #ffeded;

  --error-darkest: #B70101;
  --error-dark: #D00000;
  --error: #EB0000;
  --error-light: #FF6666;
  --error-lightest: #FFE1E1;

  --green-light: #eafbf5;
  --green-dark: #008958;

  --wheat-light: #fff4de;
  --wheat: #ffdd9c;
  --wheat-dark: #ffab0c;

  --ultramarine-blue-light: #ecf6ff;
  --ultramarine-blue-dark: #3162df;

  --caribbean-green: #00d4a1;
  --purple: #5f0ab5;
  --turquoise: #0fc8d3;
  --brown: #820000;
  --apple-green: #57c032;
  --pink: #d800df;

  --font-weight-h1: 700;
  --font-weight-h2: 800;
  --font-weight-h3: 800;
  --font-weight-h4: 700;
  --font-weight-h5: 600;
  --font-weight-h6: 400;

  --line-height-h1: normal;
  --line-height-h2: normal;
  --line-height-h3: normal;
  --line-height-h4: normal;
  --line-height-h5: normal;
  --line-height-h6: normal;

  --font-size-h1: rem-convert(28px);
  --font-size-h2: rem-convert(20px);
  --font-size-h3: rem-convert(16px);
  --font-size-h4: rem-convert(16px);
  --font-size-h5: rem-convert(14px);
  --font-size-h6: rem-convert(14px);

  --font-size-paragraph-1: rem-convert(14px);
  --font-size-paragraph-2: rem-convert(12px);

  --line-height-paragraph-1: rem-convert(19px);
  --line-height-paragraph-2: rem-convert(16px);

  --font-size-button-large: var(--font-size-sm);
  --font-size-button-medium: var(--font-size-xs);
  --font-size-button-small: var(--font-size-2xs);

  --font-weight-button-large: 500;
  --font-weight-button-medium: 500;
  --font-weight-button-small: 400;

  --font-family-button-large: 'Poppins';
  --font-family-button-medium: 'Poppins';
  --font-family-button-small: 'Poppins';

  --font-size-link-large: var(--font-size-sm);
  --font-size-link-medium: var(--font-size-xs);
  --font-size-link-small: var(--font-size-2xs);

  --font-weight-link-large: 500;
  --font-weight-link-medium: 500;
  --font-weight-link-small: 400;

  --font-family-link-large: 'Poppins';
  --font-family-link-medium: 'Poppins';
  --font-family-link-small: 'Poppins';

  --font-family-indication: 'Roboto Condensed';

  --font-size-indication: var(--font-size-xs);
  --font-size-indication-small: var(--font-size-2xs);

  --font-weight-indication: 400;

  --letter-spacing-indication: rem-convert(0.7px);
  --letter-spacing-indication-small: rem-convert(0.6px);
}
