.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--grey-darker);
  padding: 16px;
  width: 240px;

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-item {
      &-submenu {
        display: none;
        flex-direction: column;
        gap: 4px;
        margin-top: 4px;

        &--open {
          display: flex;
        }
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &-icon {
      height: 20px;
    }
  }
}
