<div class="flex flex-col justify-center items-center max-w-[608px]">

  <img src="/" class="mb-[40px]" />

  <span class="h1 mb-[14px]">{{ code }}</span>
  <h1 class="paragraph-1 mb-[16px]">{{ message }}</h1>
  {% include '../../Atoms/Button/Button.twig' with text: "Retour au dashboard" %}
</div>
