<footer class="bg-white flex justify-between border-t border-t-grey-medium py-4 px-7">
  <p class="text-2xs text-lightCharbon">&copy; <span class="font-semibold text-mediumCharbon">Thelia 2024</span> 
    - Version 2.5.0
    - <a href="http://www.openstudio.fr/" target="_blank">Made with ❤️ by OpenStudio</a>
  </p>

  {# {hook name="main.in-footer" location="in_footer" } #}

  <div class="flex gap-[10px] justify-center items-center text-mediumCharbon">
    <a href="https://github.com/thelia/thelia" target="_blank" class="w-5 h-5">
      {{ source("/icons/plus.svg") }}
    </a>

    <a href="https://x.com/theliaecommerce" target="_blank" class="w-5 h-5">
      {{ source("/icons/plus.svg") }}
    </a>

    <a href="https://www.facebook.com/theliaecommerce" target="_blank" class="w-5 h-5">
      {{ source("/icons/plus.svg") }}
    </a>
  </div>
</footer>
