.Fonts {
  display: grid;
  > div {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--grey-lighter);
    padding: 1rem 0;
  }
}

.h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
}

.h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
}

.h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  line-height: var(--line-height-h3);
}

.paragraph-1 {
  font-size: var(--font-size-paragraph-1);
  line-height: var(--line-height-paragraph-1);
}
.paragraph-2 {
  font-size: var(--font-size-paragraph-2);
  line-height: var(--line-height-paragraph-2);
}

.paragraph {
  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}
