<div class="flex flex-col gap-3 mb-8">
  <h1 class="h1">Liens</h1>
  <a href="#" class="paragraph-1">Ceci est un lien</a>
  <a href="#" class="paragraph-2">Ceci est un lien</a>
  <a href="#" class="paragraph-3">Ceci est un lien</a>
  <a href="#" class="paragraph-4">Ceci est un lien</a>
</div>

<div class="flex flex-col gap-3 mb-8">
  <h1 class="h1">Buttons</h1>
  <button class="w-max button-s">Ceci est un button</button>
  <button class="w-max button-l">Ceci est un button</button>
</div>

<div class="flex flex-col gap-3">
  <h1 class="h1">Label</h1>
  <span class="label">Ceci est un label</span>
</div>
