<div class="flex flex-col gap-3">
  <a href="#" class="paragraph-1">Ceci est un lien</a>
  <a href="#" class="paragraph-2">Ceci est un lien</a>
  <a href="#" class="paragraph-3">Ceci est un lien</a>
  <a href="#" class="paragraph-4">Ceci est un lien</a>
</div>
