<ul class='Header-sidebar-items ConfigMenu'>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Paramètres système', iconLeft: "config", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Catalogue produit', iconLeft: "catalog", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Transport', iconLeft: "delivery", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Tunnel de commande', iconLeft: "checkout", variant: "md" } %}
	</li>
</ul>
