.Header {
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-sidebar {
    display: none;
    position: fixed;
    width: calc(max(390px, 100%));
    padding: 16px;
    padding-bottom: 32px;
    background-color: var(--white);
    flex-direction: column;

    &-back {
      display: none;
      margin-bottom: 48px;
      margin-top: 11px;
      width: max-content;

      &--active {
        display: inline-flex;
      }
    }

    &--open {
      display: flex;
      z-index: 1000;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
    }

    &-content {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-close {
      align-self: flex-end;
      width: 24px;
      height: 24px;

      &--withoutBack {
        margin-bottom: 64px;
      }
    }

    &-items {
      display: none;
      flex-direction: column;
      margin-top: 24px;

      &.SidebarMenu--open {
        display: flex;
      }

      &.ConfigMenu--open {
        display: flex;
      }

      &.LangMenu--open {
        display: flex;
      }
    }

    &-menus {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-lang,
      &-config {
        width: 100%;
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 48px;

      &-icon {
        height: 20px;
      }
    }
  }

  &-left {
    display: flex;
    gap: 8px;
    align-items: center;

    &-menu {
      display: none;
      height: 38px;
      width: 38px;
    }

    &-logo {
      width: 180px;

      @media (max-width: 768px) {
        width: 134px;
      }
    }
  }

  &-right {
    display: flex;
    gap: 16px;

    .SearchBar {
      width: 450px;
      height: 54px;
    }

    &-lang .Button:focus-visible,
    &-user .UserMenuButton:focus-visible,
    &-lang:focus-within,
    &-user:focus-within {
      .icon-right,
      .Button .icon-right,
      .UserMenuButton-icon {
        transform: rotate(180deg);
      }
    }

    &-user,
    &-config,
    &-lang {
      position: relative;

      .UserMenuButton,
      .Button {
        height: 100%;
      }

      &-menu {
        position: absolute;
        display: none;
        top: 70px;

        @media (max-width: 768px) {
          top: 48px;
        }
      }

      &:focus-within {
        .Header-right-user-menu,
        .Header-right-config-menu,
        .Header-right-lang-menu {
          display: block;
        }
      }
    }
  }

  .ButtonSearch {
    display: none;
  }

  &-searchbar-close {
    display: none;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1280px) {
    .ButtonSearch {
      display: inline-flex;
    }

    .SearchBar {
      display: none;
    }

    &-searchbar--open {
      @media (min-width: 768px) {
        .Header-searchbar-close {
          position: absolute;
          right: 24px;
          top: 32px;
          display: block;
        }

        flex-direction: row-reverse;
        justify-content: center;

        .SearchBar {
          display: flex;
          width: 500px;
        }

        .Header-left,
        .ButtonSearch,
        .Header-right-lang,
        .Header-right-config,
        .Header-right-user,
        .Button {
          display: none;
        }
      }
    }

    .UserMenuButton-name {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding: 8px;

    &-left-menu {
      display: block;
    }

    .SearchBar {
      display: none;
    }

    .Button {
      & > span.icon {
        width: 22px;
        height: 22px;

        &-left:not(:only-child) {
          margin-right: rem-convert(8px);
        }
        &-right:not(:only-child) {
          margin-left: rem-convert(8px);
        }
      }
    }

    .Button {
      padding: 8px 16px;
    }

    .ButtonSearch {
      display: none;
    }

    .Header-right-lang {
      display: none;
    }

    .Header-right-config {
      display: none;
    }

    .UserMenuButton-avatar {
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
