<ul class='Header-sidebar-items LangMenu'>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Français', iconLeft: "french", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'English', iconLeft: "english", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Español', iconLeft: "spanish", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Italiano', iconLeft: "italian", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Português', iconLeft: "portugese", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Deutsch', iconLeft: "german", variant: "md" } %}
	</li>
</ul>
