<ul class='Header-sidebar-items SidebarMenu SidebarMenu--open'>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Dashboard', iconLeft: "dashboard", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Commandes', iconLeft: "orders", iconRight: "long-arrow-right", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Clients', iconLeft: "clients", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Catalogue', iconLeft: "catalog", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Pages', iconLeft: "pages", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Blocks', iconLeft: "blocks", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Design', iconLeft: "design", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Outils', iconLeft: "tools", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Modules', iconLeft: "modules", variant: "md" } %}
	</li>
	<li class='Header-sidebar-item'>
		{% include '../../Molecules/ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Aide', iconLeft: "tooltip", variant: "md" } %}
	</li>
</ul>
