<div>
	{% include './Checkbox.twig' with {name: "a", label: 'Unchecked',disabled: disabled, error:error} %}
	{% include './Checkbox.twig' with {name: "b", label: 'Checked',disabled: disabled, error:error, checked:true} %}
	{% include './Checkbox.twig' with {name: "c", label: 'Undefined',disabled: disabled, error:error, classes:'indeterminate'} %}
</div>
