.Popin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 500px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 32px;

  &-dragbar {
    display: none;
    width: 83px;
    height: 3px;
    background-color: var(--black);
    border-radius: 3px;
    margin-bottom: 43px;
    cursor: move;
  }

  &-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-img {
    width: 228px;
    height: auto;
    margin-bottom: 48px;
  }

  &-title {
    margin-bottom: 8px;
  }

  &-text {
    margin-bottom: 24px;
  }

  &-checkbox {
    margin-bottom: 24px;
  }

  &-close {
    align-self: flex-end;
    width: 24px;
    height: 24px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;

    &-dragbar {
      display: block;
    }

    &-close {
      display: none;
    }
  }
}
