<h1 class="h1 text-center mb-4">Page Scroll</h1>

<div class="mx-auto w-1/2 max-h-[300px] overflow-y-auto bg-blue-300 p-4">
  <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
  <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
  <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
  <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
</div>
