<div class="flex gap-12">
  <div class="flex grow flex-col gap-4">
    <h1 class="h1 text-center mb-4">Page Scroll</h1>

    <div class="mx-auto w-full max-h-[300px] overflow-y-auto bg-blue-300 p-4">
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
    </div>
  </div>

  <div class="flex grow flex-col gap-4 contextual-scroll">
    <h1 class="h1 text-center mb-4">Contextual Scroll</h1>

    <div class="mx-auto w-full max-h-[300px] overflow-y-auto bg-blue-300 p-4">
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
      <div class="w-1/2 mb-4 mx-auto h-[100px] bg-vermillon-light"></div>
    </div>
  </div>
</div>
