<div class='NavMenu'>
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Paramètres système', variant: 'sm', iconLeft: 'settings' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Catalogue produit', variant: 'sm', iconLeft: 'catalog' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Transport', variant: 'sm', iconLeft: 'delivery' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Tunnel de commande', variant: 'sm', iconLeft: 'checkout' } %}
</div>
