<div class='NavMenu'>
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Français', variant: 'sm', iconLeft: 'french' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'English', variant: 'sm', iconLeft: 'english' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Español', variant: 'sm', iconLeft: 'spanish' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Italiano', variant: 'sm', iconLeft: 'italian' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Português', variant: 'sm', iconLeft: 'portugese' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Deutsch', variant: 'sm', iconLeft: 'german' } %}
</div>
