<div class='NavMenu'>
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Profil', variant: 'sm', iconLeft: 'profile' } %}
	{% include '../ChoiceCards/IconText/IconTextChoiceCard.twig' with { text: 'Déconnexion', variant: 'sm', iconLeft: 'logout' } %}
</div>
