.Progress {
  height: 8px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--grey-medium);
  padding: 1px;
}

.Progress-bar {
  height: 4px;
  background-color: var(--vermillon-light);
  border-radius: 5px;
}
