.Progress {
  height: 8px;
  background-color: var(--vermillon-light);
  border-radius: 5px;
  padding: 1px;
}

.Progress-bar {
  height: 4px;
  background-color: var(--vermillon);
  border-radius: 5px;
}
