<div class="flex flex-col gap-2">
  {% include "./Label.twig" with { text, classes: "bg-grey-dark text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-wheat-dark text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-caribbean-green text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-apple-green text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-brown text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-turquoise text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-vermillon-light text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-purple text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-green-dark text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-pink text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-red text-white" } %}
  {% include "./Label.twig" with { text, classes: "bg-grey-dark text-white" } %}
</div>

