{% set classes = "" %}
{% if selected %}
	{% set classes = classes ~ " SubMenuButton--selected" %}
	{% set labelClasses = labelClasses ~ " group-hover:bg-grey-lighter" %}
{% endif %}

<a href="{{href}}" class="SubMenuButton group {{ classes }}">
	<div class="font-semibold SubMenuButton-label paragraph-4">{{label}}</div>

	{% if count %}
		{% include "../../Atoms/Labels/Label.twig" with { text: count, classes: labelClasses } %}
	{% endif %}
</a>
